
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Engineering Home Page</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            margin: 20px;
        }

    h2 {
        color: #4285f4;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        margin-bottom: 10px;
    }

    a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
    }

    a:hover {
        color: #4285f4;
    }
</style>
</head>
<body>
<center>
<form action="Engg_Home_page" method="post">
<h2>Engineering Home Page</h2><br><br><hr>

<ul>
<br>    <li><a href="Engg_Reg_page">REGISTERATION</a></li><br><hr><br>
  <br>   <li><a href="Engg_Fetch_page">FETCHNG</a></li><br><hr><br>
    <br>   <li><a href="Engg_Del_page">DELETE</a></li><br><hr><br>
     <br>    <li><a href="Engg_Upd_page">UPDATE</a></li><br><hr><br>
         
    <!-- Add more pages as needed -->
</ul>
</form>
</center>
</body>
</html>